.bg-img1 {
  background-color: #000;
  background-size: cover;
  background-image: url("https://cdn.wallpapersafari.com/22/35/Is6YzV.jpg");
}

.bg-img2 {
  background-color: #000;
  background-size: cover;
   background-image: url("https://cdn.wallpapersafari.com/5/24/C82GZE.jpg");
}

.bg-img3 {
  background-color: #000;
  background-size: Cover;
  background-image: url("https://cdn.wallpapersafari.com/79/63/Q0Niw4.png");
}